.progress-bg { 
    background: #1e1e24; 
    height: 14px; 
    border-radius: 7px; 
    margin-top: 10px; 
    overflow: hidden; 
    position: relative; 
}

.progress-fill { 
    height: 100%; 
    transition: width 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28); 
}

.hp-label { 
    position: absolute; 
    width: 100%; 
    text-align: center; 
    font-size: 11px; 
    font-weight: 800; 
    top: 0; 
    color: white; 
    text-shadow: 1px 1px 2px black; 
}

.hp-box-full { 
    box-shadow: 0 0 15px 2px rgba(255, 71, 87, 0.8) !important;
    border: 2px solid #ff4757 !important;
    transform: scale(1.02);
}
.mp-box-full { 
    box-shadow: 0 0 15px 2px rgba(55, 66, 250, 0.8) !important;
    border: 2px solid #3742fa !important;
    transform: scale(1.02);
}
.sn-box-full { 
    box-shadow: 0 0 15px 2px rgba(165, 94, 234, 0.8) !important;
    border: 2px solid #a55eea !important;
    transform: scale(1.02);
}