.shop-grid { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px; 
    margin-bottom: 20px; 
}

#shop-view { 
    max-height: 500px; 
    overflow-y: auto; 
    padding-right: 10px; 
}

.shop-item { 
    background: #1e1e24; 
    padding: 20px; 
    border-radius: 12px; 
    border: 1px solid var(--gold); 
    text-align: center; 
}